body{
    padding-left: 250px ;
    padding-right: 250px;
    background-color: #1f2531;
    display: flex;
    flex-direction: column;
}
div{
    color: #fbfefd;
}

.header{
    display: flex;
    font-size: 24px;
    align-items: center;
    padding-top: 1em; ;
    
}
.logo{
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: bold;

}
img#logo{
    height: 60px;
    width: 60px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 5em;
    margin: 0;
    padding: 0;
    
}
nav{
    margin-left: auto;
}
a{
    text-decoration: none;
    color:#fbfefd !important;
}