body{
    padding-left: 250px ;
    padding-right: 250px;
    background-color: #1f2531;
    display: flex;
    flex-direction: column;
    gap: 8em;
    font-family: Inter, sans-serif;
    min-height: 100vh;
}
div{
    color: #fbfefd;
}
#logo{
    height: 60px;
    width: 60px;
}
ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0; 
}
nav{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
a{
    text-decoration: none;
    color:#fbfefd !important;
}
.header{
    display: flex;
    font-size: 24px;
    align-items: center;
    padding-top: 1em;
    gap:5em;

}
.logo{
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: bold;

}
.content1{
    display: flex;
    justify-content: space-between;
    gap:15em;
}

#hero-image{
    border: 5px solid #0b3c5d;
    border-radius: 10px;
    max-width: 500px;
}
.hero{
    display: flex;
    flex-direction: column;
    gap:1em;
    align-items: flex-start;
}
.hero-main{
    font-size: 64px;
    font-weight: bolder;
}
.hero-secondary{
    font-size: 18px;
}
.hero-button{
    border:none;
    border-radius: 5px;
    background-color:#d9b311 ;
    color: #1f2531;
    font-size: 20px;
    width: 175px;
    height:35px
}
.content2{
    display: flex;
    flex-direction: column;
}
.content2-title{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    font-size: 36px;
}
.content2-title>div{
    color: #328bc3;
    font-weight: bolder;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    
}
.card-image{
    width: 150px;
    height: 150px;
    border: 10px solid #0b3c5d;
    border-radius: 15px ;

}
.card-image>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-text{
    padding: 1em;
    font-size: 18px;
    width: 150px;
    display: flex;
}
